/* top background */
.greeting{
    background-color:#F2AA4CFF; 
 }
 
 /* animation top text and styles */
   .slide-right{
     width: 100%;
     overflow: hidden;
   }
   .slide-right h2{
       animation: slide-right 4s ease-in-out 5s infinite forwards;
       transform:translateX(-100%);
   }
   
   @keyframes slide-right {
     to {
       transform:translateX(0);
     }
   }
   /* carousel styles */
   .Carousel{
       margin-right: -12px;
   }
   .CarouselImg{
     width: auto;
     height: 600px;
     /* max-height: 225px; */
   }
   @media (max-width:650px) {
     .Carousel{
      margin: 0;
      padding: 0;


     }
     
   }