.rong{
    background-color: #322e2f;
    margin: 50px 0 0 0px;
    width: 100%;
    overflow: hidden;
}    
.foot-margin{
    margin: 10px 20px 0px 60px;
}
h4{
    color: #12a4d9 ;
}
.rong a{
    color: #12a4d9 ;
    text-decoration: none;
}
